// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


main {
    background-color: #252850;
    position: relative;
}

#back {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 15px;
    span {
        color: black;
        font-size: 18px;
    }
}

#icon-nav {
    width: 50px;
    img {
        width: 100%;
    }
}
